{% extends 'website/base.html' %}
{% block title %} AICERTA - Pricing{% endblock %}

{% block style %} 
    .btn-outline-success {
        border-color: #376d4d;
        color: #376d4d;
    }

    .btn-outline-success:hover {
        background-color: #376d4d;
        color: #ffffff;
        border-color: #376d4d;
    }

    .nav-pills .nav-link {
        color: #000000;
        background-color: #ffffff;
    }
        
    .nav-pills .nav-link.active {
        color: #ffffff;
        background-color: #376d4d;
    }
        
    .nav-pills .nav-link:hover {
        background-color: #376d4d;
        color: #ffffff;
    }

    .card-body {
        line-height: 1.6;
    }
    .card-price {
        font-weight: bold;
        margin-bottom: 10px;
    }
    .card-text {
        margin-bottom: 15px;
    }
    .card-small-text {
        display: block;
        margin-bottom: 15px;
    }
{% endblock %}


{% block content %}
    <section class="bg-light text-dark py-5">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    <h2>Choose a plan.</h2>
                    <p class="lead">Accelerate your learning now.</p>
                </div>
            </div>
            <div class="row mt-5">
                <div class="col-md-12">
                    <ul class="nav nav-pills justify-content-center" id="pricingTab" role="tablist">
                        <li class="nav-item" role="presentation">
                            <a class="nav-link active" id="individual-tab" data-bs-toggle="pill" href="#individual" role="tab" aria-controls="individual" aria-selected="true">Individual</a>
                        </li>
                        <li class="nav-item" role="presentation">
                            <a class="nav-link" id="enterprise-tab" data-bs-toggle="pill" href="#enterprise" role="tab" aria-controls="enterprise" aria-selected="false">Enterprise</a>
                        </li>
                    </ul>
                    <div class="tab-content mt-3" id="pricingTabContent">
                        <div class="tab-pane fade show active" id="individual" role="tabpanel" aria-labelledby="individual-tab">
                            <!-- Individual plans -->
                            {% include 'website/partials/individual_plans.html' %}
                        </div>
                        <div class="tab-pane fade" id="enterprise" role="tabpanel" aria-labelledby="enterprise-tab">
                            <!-- Enterprise plans -->
                            {% include 'website/partials/enterprise_plans.html' %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
