{% extends 'website/base.html' %}
{% block title %} AICERTA - Pricing{% endblock %}

{% block content %}
<section class="bg-light text-dark py-5">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <h2>Choose Your Plan</h2>
                <p class="lead">Select the best plan for your needs</p>
            </div>
        </div>
        <div class="row mt-5">
            <div class="col-md-4" data-aos="fade-up" data-aos-delay="100">
                <div class="card text-center mb-4">
                    <div class="card-header bg-white text-black" style="background-color: #376d4d">
                        <h4 class="card-title">Basic</h4>
                    </div>
                    <div class="card-body">
                        <h5 class="card-price">$9.99</h5>
                        <p class="card-text">Feature 1</p>
                        <p class="card-text">Feature 2</p>
                        <p class="card-text">Feature 3</p>
                        <a href="#" class="btn btn-outline-success">Get Started</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4" data-aos="fade-up" data-aos-delay="200">
                <div class="card text-center mb-4">
                    <div class="card-header bg-white text-black" style="background-color: #376d4d">
                        <h4 class="card-title">Silver</h4>
                    </div>
                    <div class="card-body">
                        <h5 class="card-price">$29.99</h5>
                        <p class="card-text">Feature 1</p>
                        <p class="card-text">Feature 2</p>
                        <p class="card-text">Feature 3</p>
                        <p class="card-text">Feature 4</p>
                        <a href="#" class="btn btn-outline-success">Get Started</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4" data-aos="fade-up" data-aos-delay="300">
                <div class="card text-center mb-4">
                    <div class="card-header bg-white text-black" style="background-color: #376d4d">
                        <h4 class="card-title">Gold</h4>
                    </div>
                    <div class="card-body">
                        <h5 class="card-price">$59.99</h5>
                        <p class="card-text">Feature 1</p>
                        <p class="card-text">Feature 2</p>
                        <p class="card-text">Feature 3</p>
                        <p class="card-text">Feature 4</p>
                        <p class="card-text">Feature 5</p>
                        <a href="#" class="btn btn-outline-success">Get Started</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
