
<div class="col-md-4 col-lg-3">
    <div class="card mb-3 box-shadow card-hoverable" id="card-{{ td.id }}" style="width: 100%;">
        <a href="/app/{{ td.id }}/edit" id="card-link-{{ td.id }}" style="text-decoration: none; color: inherit;">
            <div class="card-body">
                <h5 class="card-title">{{ td.name|truncatechars:15 }}</h5>
                <p class="card-text">{{ td.exam }}</p>
                <div class= "d-flex justify-content-between align-items-center">

                    <div class="dropdown-center">
                        <a class="btn btn-sm btn-outline-success dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            
                        </a>
                        <ul class="dropdown-menu">
                            {% if td.marked_before == 1 %}
                                <li><a class="dropdown-item btn-sm btn-outline-success" href="/app/{{ td.id }}/view">View Marks</a></li>
                            {% endif %}

                            <li><hr class="dropdown-divider"></li>
                        </ul>
                    </div>
                </div>
            </div>
        </a>
        
    </div>
    
</div>


<!-- Add the myResponseHandler JavaScript function -->
<script>
    function myResponseHandler(element, event, request, response) {
        const jsonResponse = JSON.parse(response.responseText);
        if (jsonResponse.success) {
            const cardElement = document.getElementById('card-{{ td.id }}');
            cardElement.remove();
        } else {
            console.log('Failed to delete NceaDocument');
        }
    }

</script>
