{% load crispy_forms_tags %}
{% load myfilters %}

<div>
    <form action ="{% url 'index' id=doc.id %}" id="answer-formset" method="POST" hx-post="{% url 'index' id=doc.id %}" hx-swap='outerHTML' hx-trigger='change delay:500ms'>

        {% csrf_token %}
        {{ formset.management_form|crispy }}
        {% for question, forms in form_groups.items %}
            <div class="py-4">
                <ul class="list-group list-group-flush">
                    <h3 class="py-3">QUESTION {{question|NUMBER}}: <span class="score"></span></h3>
                    {% for form in forms %}
                        <!-- Render your form here -->
                        <li class="list-group-item">
                        
                            {{ form.answer|as_crispy_field }}
                            {% for hidden in form.hidden_fields %}
                                {{ hidden }}
                            {% endfor %}

                            
                            <div class="btn-group me-2" role="group" aria-label="Arithmetic">
                                <button type="button" class="btn-icon" data-bs-toggle="modal" data-bs-target="#latexModal" data-input-id="{{form.answer.auto_id}}">
                                    F(x)
                                </button>
                                <!--button for inserting OCR-->
    
                            </div>
                            
                            
                        </li>
                    {% endfor %}
                </ul>
            </div>
        {% endfor %}
        <button type="save" value="save" class="btn btn-secondary" hx-post="{% url 'index' id=doc.id %}" hx-target="#answer-formset" hx-swap="outerHTML">
            Save
        </button>
        <!--div class ='htmx-indicator'>Loading...</div-->
        {% if message %}
            <p>{{ message}} </p>
        {% endif %}
    </form>
</div>


