{% load crispy_forms_tags %}
{% load myfilters %}

<div>
    <form action ="{% url 'index' id=doc.id %}" id="answer-formset" method="POST" hx-post="{% url 'index' id=doc.id %}" hx-swap='outerHTML' hx-trigger='change delay:500ms'>

        {% csrf_token %}
        {{ formset.management_form|crispy }}
        {% for question, forms in form_groups.items %}
            <div class="py-4">
                <ul class="list-group list-group-flush">
                    <h3 class="py-3">QUESTION {{question|NUMBER}}: <span class="score"></span></h3>
                    {% for form in forms %}
                        <!-- Render your form here -->
                        <li class="list-group-item">
                        
                            {{ form.answer|as_crispy_field }}
                            {% for hidden in form.hidden_fields %}
                                {{ hidden }}
                            {% endfor %}

            
                            
                            
                        </li>
                    {% endfor %}
                </ul>
            </div>
        {% endfor %}
        <button type="save" value="save" style="position: fixed; bottom: 20px; right: 20px; z-index: 9999;" class="btn btn-sm btn-outline-dark" hx-post="{% url 'index' id=doc.id %}" hx-target="#answer-formset" hx-swap="outerHTML">
            <i class="fas fa-save"></i> Last saved: <small><span id="last-saved-time">just now</span><small>
        </button>

    </form>
</div>


