{% load crispy_forms_tags %}
{% load myfilters %}
{% load static %}

<div id="answer-div">
    <form action ="{% url 'index' id=doc.id %}" id="answer-formset" method="POST" hx-post="{% url 'index' id=doc.id %}" hx-swap='outerHTML' hx-trigger='change delay:500ms'>

        {% csrf_token %}
        {{ formset.management_form|crispy }}
        {% for question, forms in form_groups.items %}
            <div class="py-4">
                <ul class="list-group list-group-flush">
                    <h3 class="py-3">QUESTION {{question|NUMBER}}: <span class="score"></span></h3>
                    {% for form in forms %}
                        <!-- Render your form here -->
                        <li class="list-group-item">
                            
                        
                            <div class="form-field" data-form-instance-id="{{ form.instance.id }}">
                                {{ form.answer|as_crispy_field }}
                            </div>
                            <div class="user-images">
                                {% if form.instance.nceauserimages_set.all %}
                                    {% for image in form.instance.nceauserimages_set.all %}
                                        <div class="image-wrapper">
                                            <img src="{{image.image.url}}" class="user-answer-image">

                                            <button class="close-btn">
                                                <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">&times;</span>  
                                            </button>
                                        
                                        </div>
                                    {% endfor %}
                                {% endif %}
                            </div>

                            <small class="previewAnswer">{{form.instance.answer}}</small>
                            {% for hidden in form.hidden_fields %}
                                {{ hidden }}
                            {% endfor %}

            
                            
                            
                        </li>
                    {% endfor %}
                </ul>
            </div>
        {% endfor %}
        <button type="save" value="save" style="position: fixed; bottom: 20px; right: 20px; z-index: 9999;" class="btn btn-sm btn-outline-dark" hx-post="{% url 'index' id=doc.id %}" hx-target="#answer-formset" hx-swap="outerHTML">
            <i class="fas fa-save"></i> Last saved: <small><span id="last-saved-time">just now</span><small>
        </button>

    </form>

    <form action="{% url 'add-image-to-question' %}" 
        id="userImageForm" 
        method="POST" 
        enctype="multipart/form-data"
        style="display: none;"
        >
        {% csrf_token %}
        {{ user_image_form.image|as_crispy_field }}
        {{ user_image_form.user_question_id|as_crispy_field }}
    </form>
    
</div>


