{% extends 'main/base.html' %}
{% load static %}

{% block title%}
homepage
{% endblock %}

{% block content %}
    <div class="container">
        <div class='exam'>
            <div class="py-3">
                <h1>Classroom {{classroom.name}}</h1>
                <p>Code: {{classroom.secret_code}}</p>
            </div>
            
            <div class="assignments">
                {% for assignment in assignments %}
                    <div class="card mb-3">
                        <div class="card-body">
                            <h5 class="card-title">{{ assignment.name }}</h5>
                            <h6 class="card-subtitle mb-2 text-muted">Assigned by: {{ assignment.teacher }}</h6>
                            <p class="card-text">{{ assignment.exam }}</p>
                            <p class="card-text">{{ assignment.description }}</p>
                            <p class="card-text"><small class="text-muted">Created on: {{ assignment.created_at|date:"D, d M Y H:i" }}</small></p>

                            {% if user.student == False %}
                                <form hx-post="/app/{{ assignment.id }}/delete/assignment" hx-trigger="submit" hx-swap="none" hx-response="myResponseHandler">
                                    {% csrf_token %}
                                    <button type="submit" class=" btn-danger btn btn-sm">Delete</button>
                                </form>
                            {% endif %}

                            {% if user.student == True %}
                                <form method="POST" action="/app/assignment/{{assignment.id}}">
                                    {% csrf_token %}
                                   
                                    <button type='submit' name = "save" class="btn btn-outline-success btn-sm">Start Test</button>
                                </form>
                            {% endif %}
                        </div>
                    </div>
                {% empty %}
                    <p>No assignments yet.</p>
                {% endfor %}
            </div>
            
        </div>
    </div>
{% endblock %}