{% extends 'main/base.html' %}

{% block title%}
homepage
{% endblock %}

{% block content %}
    <div class="container">
        <div class='exam'>
            <div class="py-3">
                <h1>Homepage</h1>
            </div>

            <div class="bg m-5">
                <div class="container-lg my-5">
                    <div class="row">
                        <div class="cards-container" style="max-width: 992px;">
                            <div class="row justify-content-center">
                                {% for td in user.nceadocument.all %}
                                    {% include "main/partials/cards.html" %}
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
<ul>
    <li>payment page!!!! a new pricing page in the actual website..</li>
    <li>letsencrypt.org for https safe</li>
    <li>cold emails</li>
<u> 
this is the page where all the documents you own can be viewed, like google drive