{% extends 'main/base.html' %}
{% load static %}
{% load crispy_forms_tags %}



{% block title %}Edit Document{% endblock %}
FIX INDEX.HTML, has something to do with doc.assignment being false when not connected to assignment and time

{% block content %}
    <div class="container-fluid">
    
        <div class="row">
            
            <div class="col {% if doc.file %} scrolling-column {% endif %}">
                <div class="container position-relative">
                    {% if not doc.assignment %}
                        <a href="/app/{{doc.id}}/preview" class="btn btn-icon position-absolute top-0 m-2" style="right: 5rem;" title="View">
                            <i class="fas fa-eye"></i>
                        </a>
                        <button type="button" class="btn btn-icon position-absolute top-0 m-2" style="right: 7.5rem;" data-bs-toggle="modal" data-bs-target="#OCRModal">
                            <i class="fas fa-upload"></i>
                        </button>
                    {% endif %}
                    <button type="button" class="btn btn-icon position-absolute top-0 end-0 m-2" data-bs-toggle="modal" data-bs-target="#latexModal">
                        <i class="fas fa-square-root-alt"></i>
                    </button> 

                    <button type="button" class="btn btn-icon position-absolute top-0 m-2" style="right: 2.5rem;" data-bs-toggle="modal" data-bs-target="#drawingModal">
                        <i class="fas fa-paint-brush"></i>
                    </button> 
                
                    {% if doc.assignment.status == 1 %}
                        <div class="countdown-timer" id="timer-{{ doc.assignment.id }}" data-ends-at="{{ doc.assignment.ends_at|date:'c' }}" ><small class="text-muted">Time left: Calculating...</small></div>
                    {% endif %}          
                    <div class='exam'>
                        
                        
                        <div class="py-3">
                            
                            <h1>{{doc.name}}</h1>
                            <small><b>Standard: {{doc.exam.standard}}</b></small> 
                            <br>
                            <small><b>Year: {{doc.exam.year}}</b></small>
                        </div>
                        
                        {% include "main/partials/forms.html" %}

                        {% if doc.assignment %}
                            
                            <button class="btn btn-outline-success submit-btn btn" type="submit">Submit Exam</button>
                        {% endif %}
                    </div>
                </div>
            </div>
            {% if doc.file %}
                <div class="col scrolling-column">
                    <div class="container position-relative">
                        <button class="btn btn-sm btn-icon" id="prev-page">
                            <i class="fas fa-arrow-circle-left"></i>
                        </button>
                        <button class="btn btn-sm btn-icon" id="next-page">
                            <i class="fas fa-arrow-circle-right"></i>
                        </button>
                        <button class="btn btn-sm btn-icon" id="crop-button-text">
                            <i class="fas fa-font"></i>
                        </button>
                        <button class="btn btn-sm btn-icon" id="crop-button-math">
                            <i class="fas fa-superscript"></i>
                        </button>
                        

                        <div class="py-3">
                            <span class="page-info">
                                Page <span id="page-num">1</span> of <span id="page-count"></span>
                            </span>
                
                            <canvas id="pdf-render"></canvas>
                            <form action="{% url 'save_image' id=doc.id %}" 
                                id="imageForm" 
                                method="POST" 
                                enctype="multipart/form-data"
                                style="display: none;">
                                {% csrf_token %}
                                {{ ocrform.image|as_crispy_field }}
                                

                            </form>
                        </div>
                    </div>
                </div>
            {% endif %}
        </div> 
    </div>
    

    <div class="modal fade" id="ResultsModal" tabindex="-1" aria-labelledby="ResultsModalLabel" aria-hidden="true" data-bs-backdrop="static" data-bs-keyboard="false">
        <div class="modal-dialog modal-xl"> <!-- Increase modal size to modal-xl for better visibility -->
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="ResultsModalLabel">OCR Results</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                
                <div class="modal-body">
                    <div class="row">
                        <!-- Column for the cropped image -->
                        <div class="col-md-6">
                            <img id="croppedImage" src="" alt="Cropped Image" class="img-fluid"> <!-- Image will be loaded dynamically -->
                        </div>
                        
                        <!-- Column for the OCR text -->
                        <div class="col-md-6">
                            <textarea class="form-control" id="ocrText" rows="10" placeholder="OCR Results will appear here..."></textarea> <!-- Text area to edit OCR results if needed -->
                        </div>
                    </div>
                </div>
    
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-success" id="insertOCRBtn">Insert Results</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="latexModal" tabindex="-1" aria-labelledby="latexModalLabel" aria-hidden="true" data-bs-backdrop="static" data-bs-keyboard="false" >
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="latexModalLabel">Insert LaTex</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                
                <div class="modal-body">
                    <div class="row">
                        <!--div class="col-md-6">
                            <img id="croppedLatexImage" src="" alt="Cropped Latex Image" class="img-fluid"> <!-- Image will be loaded dynamically -->
                        <!--/div-->
                        <div class="col">
                            <div class="mathquill-container py-2">

                                {% include "main/partials/math-btns.html" %}
                                <p><span class="mathquill-input"></span></p>
                                <button type="button" class="btn btn-outline-success add-mathquill-btn">+</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-success" id="insertLatexBtn">Insert</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="drawingModal" tabindex="-1" aria-labelledby="drawingModalLabel" aria-hidden="true" data-bs-backdrop="static" data-bs-keyboard="false" >
        <div class="modal-dialog modal-xl">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="drawingModalLabel">Insert Drawing</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                
                <div class="modal-body">
                    <div class="btn-toolbar mb-2 " role="toolbar" aria-label="Toolbar with button groups">
                        <!-- Art Group -->
                        <div class="btn-group me-2" role="group" aria-label="Art">
                            <button type="button" class="btn btn-sm btn-light">brush</button>
                            <button type="button" class="btn btn-sm btn-light">-</button>
                        </div>

                    </div>
                    <div id="drawing-container" class="drawing-canvas">
                        <canvas id="drawing-canvas"class=""></canvas>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-success" id="insertDrawingBtn">Insert</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade"  id="Test1Modal" tabindex="-1" aria-labelledby="Test1ModalLabel" aria-hidden="true" data-bs-backdrop="static" data-bs-keyboard="false">
        <div class="modal-dialog modal-xl"> <!-- Increase modal size to modal-xl for better visibility -->
            <div class="modal-content">
                <div class="modal-body">
                    <h3>Welcome to Test 1</h3>
                    <p>This test is designed to assess your knowledge in a more relaxed and flexible environment. Please read the following guidelines:</p>
                    <ul>
                        <li><strong>Navigation:</strong> You are free to navigate away from the exam page if necessary, but remember to come back to complete the test.</li>
                        <li><strong>Open Book:</strong> Feel free to use your notes or textbooks. However, we encourage you to try answering from memory first.</li>
                        <li><strong>No Time Limit:</strong> Take as much time as you need to complete this test. However, consistent focus can yield better results.</li>
                        <li><strong>Save Before submitting.</strong> Please remember to save before exiting/submitting.</li>
                        <!-- Add more guidelines as needed -->
                    </ul>
                    <p><strong>Good luck!</strong> We believe in your ability to do well. Stay calm and do your best.</p>
                </div>
                
                <div class="modal-footer">
                    <div class="btn-group">
                        <button type="button" class="btn btn-outline-success" id="StartTest1Btn">Start Test</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade"  id="Test2Modal" tabindex="-1" aria-labelledby="Test2ModalLabel" aria-hidden="true" data-bs-backdrop="static" data-bs-keyboard="false">
        <div class="modal-dialog modal-xl"> 
            <div class="modal-content">
                <div class="modal-body">
                    <h3>Exam Rules and Consequences</h3>
                    <p>Please read the following rules carefully before starting the exam:</p>
                    <ul>
                        <li><strong>Stay on the Exam Page</strong>: Do not navigate away from the exam page or reload it. Doing so will lock you out of the exam.</li>
                        <li><strong>No External Assistance</strong>: The use of external materials or receiving assistance from others is strictly prohibited.</li>
                        <li><strong>Timed Examination</strong>: Once started, the exam must be completed within the allotted time frame.</li>
                        <li><strong>Submission</strong>: Ensure you submit all answers before the exam timer ends.</li>
                        <li><strong>Full-Screen Mode</strong>: When you press 'Start Test', the exam will enter full-screen mode. Exiting full-screen mode will lock you out of the exam, requiring supervisor intervention to re-enter.</li>
                        <!-- Add more rules as needed -->
                    </ul>
                    <p>Please remember to save before submitting.</p>
                    <p><strong>Consequences:</strong></p>
                    <p>Violating any of these rules will result in immediate disqualification from the exam.</p>
                </div>
    
                <div class="modal-footer">
                    <div class="btn-group">
                        <a href="/app/" class="btn btn-sm btn-outline-danger">Not ready?</a>
                        <button type="button" class="btn btn-sm btn-outline-success" id="StartTest2Btn">Start Test</button>

                    </div>
                </div>
            </div>
        </div>
    </div>
    
    
    

    

    <div class="modal fade" id="lockScreenModal" tabindex="-1" aria-hidden="true" data-bs-backdrop="static" data-bs-keyboard="false" >
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Exam Locked</h5>
                </div>
                <div class="modal-body">
                    <p>Your exam has been locked due to a rule violation. Please contact a supervisor to continue.</p>
                    <div class="btn-group">
                        <a href="/app/"class="btn btn-sm btn-outline-dark">Home</a>
                        <button class="btn btn-outline-success submit-btn btn-sm" type="button">Submit Exam</button>
                    </div>
                </div>
                <!-- No footer or close button as this modal is unclosable -->
            </div>
        </div>
    </div>

    <div class="modal fade" id="submittedModal" tabindex="-1" aria-hidden="true" data-bs-backdrop="static" data-bs-keyboard="false" >
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Exam has been Submitted.</h5>
                </div>
                <div class="modal-body">
                    <p>Your exam has been submitted. You are no longer able to edit your document.</p>
                    <div class="btn-group">
                        <a href="/app/"class="btn btn-sm btn-outline-dark">Home</a>
                        <a href="/app/{{doc.id}}/preview" class="btn btn-sm btn-outline-success">View Document</a>
                    </div>
                </div>
                <!-- No footer or close button as this modal is unclosable -->
            </div>
        </div>
    </div>
    
    
    <div class="modal fade modal-lg" id="OCRModal" tabindex="-1" aria-labelledby="OCRModalLabel" aria-hidden="true" data-bs-backdrop="static" data-bs-keyboard="false">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="OCRModalLabel">OCR</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                
                <div class="modal-body" style="max-height: 400px; overflow-y: auto;">
                    <div class="row">
                        {% for file in files %}
                            <div class="col-2">


                                <form action="{% url 'file_to_doc' doc.id file.id %}" method="POST" class="card-form">
                                    {% csrf_token %}
                                    <button type="submit" class="card box-shadow card-hoverable mb-2" style="text-decoration: none; border: none; background: none;">
                                        <div class="card-body">
                                            <h5 class="card-title">{{ file.name|truncatechars:15 }}</h5>
                                            <p class="card-text">{{ file.file|truncatechars:15 }}</p>
                                            <!-- You can add more details of the file here -->
                                            <!-- Add hidden inputs if you have any data to send with the POST request -->
                                            <!-- <input type="hidden" name="someName" value="someValue"> -->
                                        </div>
                                    </button>
                                </form>
                            </div>
                        {% endfor %}
                        
                        <div class="col-2">
                            <a href="/app/{{doc.id}}/upload" class="card mb-2" style="text-decoration: none;">
                                <div class="card-body d-flex justify-content-center align-items-center" style="height: 100%;">
                                    <span style="font-size: 3rem; color: #376d4d;">+</span>
                                </div>
                            </a>
                        </div>
    
                    <div>
                </div>
            </div>
        </div>
    </div>

    
    
{% endblock %}

{% block scripts %}
    <script src="{% static 'js/htmx-swap.js' %}"></script>

    <script>
        
        
        function updateLastSavedTime(text) {
            document.getElementById('last-saved-time').innerText = text;
        }
        
        // Update the "Last saved" time using Moment.js every minute
        setInterval(function() {
            let lastSavedElement = document.getElementById('last-saved-time');
            if (lastSavedElement.innerText === "just now") {
                // Update the time to 1 minute ago after 60 seconds
                setTimeout(function() {
                    lastSavedElement.innerText = moment().subtract(1, 'minutes').fromNow();
                }, 60000);
            } else {
                // Update the time based on the current time minus the last saved time
                let lastSavedTime = moment(lastSavedElement.getAttribute('data-last-saved'), 'YYYY-MM-DD HH:mm:ss');
                lastSavedElement.innerText = lastSavedTime.fromNow();
            }
        }, 60000); // Check every minute
        
        // Call this function immediately to set the initial data-last-saved attribute
        document.addEventListener('DOMContentLoaded', (event) => {
            document.getElementById('last-saved-time').setAttribute('data-last-saved', moment().format('YYYY-MM-DD HH:mm:ss'));
        });
    </script>
    

    <script>
        {% if development_mode %}
            const url = "{{doc.file.file.url}}";         
        {% else %}
            const url = "{{signed_url|safe}}";
        {% endif %}
    </script>
    <script src="{% static 'js/index.js' %}"></script>

    <noscript>
        <div style="background-color: #ffdddd; border-left: 6px solid #f44336; padding: 20px; position: fixed; bottom: 0; width: 100%; text-align: center;">
            <strong>JavaScript is disabled.</strong> JavaScript is required to take this exam. Please enable JavaScript in your browser settings.
        </div>
    </noscript>

    <script type="text/javascript">
        let assignmentStatus = parseInt("{{ doc.assignment.status }}");
        let docStatus = "{{ doc.status }}";
        const docId = "{{ doc.id }}"
        const assignmentStrict = "{{ doc.assignment.strict }}";
        const docAssignmentId = "{{doc.assignment.id}}"

    

        {% if doc.assignment %}
            // This will run if doc.assignment is not None (and not falsey in Python terms)
            let docAssignment = true;
        {% else %}
            // This will run if doc.assignment is None or falsey
            let docAssignment = false;

        {% endif %}
    </script>

    <script src="{% static 'js/status.js' %}"></script>

    <script>
        const drawingContainer = document.getElementById('drawing-container');
        const drawingModal = document.getElementById('drawingModal');
        let drawingCanvas; // Declare drawingCanvas outside to ensure it's accessible globally within this script
        let savedImage;

        // Function to resize canvas, defined in the outer scope to be accessible everywhere
        function resizeCanvas() {
            if (drawingCanvas) {
                drawingCanvas.setWidth(drawingContainer.clientWidth);
                drawingCanvas.setHeight(drawingContainer.clientHeight);
                drawingCanvas.calcOffset(); // Recalculate canvas offset
                drawingCanvas.renderAll(); // Re-render the canvas to apply changes
            }
        }

        drawingModal.addEventListener('shown.bs.modal', () => {
            var drawingContainer = document.getElementById('drawing-container');
            if (!drawingCanvas) {
                // Initialize the canvas only if it has not been initialized before
                drawingCanvas = new fabric.Canvas('drawing-canvas');
                // Resize listener for window resize events, added only once during the first initialization
                window.addEventListener('resize', resizeCanvas);
            } else {
                // Clear the canvas if it was already initialized
                drawingCanvas.clear();
            }

            // Initial resize to fit the container
            resizeCanvas();
            
            drawingCanvas.isDrawingMode = true;
            drawingCanvas.freeDrawingBrush.width = 5;
            drawingCanvas.freeDrawingBrush.color = "#0fa0fa";


            insertDrawingBtn.addEventListener('click', function() {
                // Save the canvas content as a Base64-encoded image
                savedImage = drawingCanvas.toDataURL();

                $('#drawingModal').modal('hide');

                $("body").append('<div class="overlay"></div>');
                $(".overlay").fadeIn();
            });
        });

        // Using event delegation for dynamically added content
        $("body").on("click focus", "form input, form textarea", function(event) {

            if (savedImage) {

                var formInstanceId = $(this).closest('.form-field').data('form-instance-id');
                if (formInstanceId) {
            
                    insertImageAtCursor(formInstanceId, savedImage);
                    savedImage = null;
        
                    $(".overlay").fadeOut(function() {
                        $(this).remove();
                    });
        
                    event.stopPropagation();  // Prevent other click handlers from interfering
                        
                }
                
            }
            
        });
        

        function insertImageAtCursor(userquestionid, base64Image) {
            console.log("inserting");
            
            // Extracting contentType and binary data from base64Image
            const contentType = base64Image.match(/data:(.*);base64,/)[1];
            const b64Data = base64Image.replace(/data:.*;base64,/, '');
            const byteCharacters = atob(b64Data);
            const byteNumbers = new Array(byteCharacters.length);
            for (let i = 0; i < byteCharacters.length; i++) {
                byteNumbers[i] = byteCharacters.charCodeAt(i);
            }
            const byteArray = new Uint8Array(byteNumbers);
            
            // Create a Blob from the base64 data
            const imageBlob = new Blob([byteArray], {type: contentType});
        
            // Convert the Blob to a File
            const imageFile = new File([imageBlob], 'uploaded_image.png', {type: contentType});
    
            // Prepare the data to be sent in a FormData object
            console.log(imageFile);
            console.log(userquestionid);
            

            const form = document.getElementById('userImageForm');

            const formData = new FormData(form);
            formData.append('image', imageFile);
            formData.append('user_question_id', userquestionid);
            $.ajax({
                url: form.action,
                type: 'POST',
                data: formData,
                processData: false,
                contentType: false,
            })
            submitForm();
        }
    </script>

    
{% endblock %}
