{% extends 'main/base.html' %}
{% load static %}
{% load crispy_forms_tags %}


{% block title %}Document{% endblock %}


{% block content %}
    <div class="container-fluid">
    
        <div class="row">
            
            <div class="col {% if doc.file %} scrolling-column {% endif %}">
                <div class="container position-relative">
                    {% if not doc.assignment %}
                        <a href="/app/{{doc.id}}/preview" class="btn btn-icon position-absolute top-0 end-0 m-2" title="View">
                            <i class="fas fa-eye"></i>
                        </a>
                        <button type="button" class="btn btn-icon position-absolute top-0 m-2" style="right: 2.5rem;" data-bs-toggle="modal" data-bs-target="#OCRModal">
                            <i class="fas fa-upload"></i>
                        </button>
                    {% endif %}
                    <button type="button" class="btn btn-icon position-absolute top-0 m-2" style="right: 5rem;" data-bs-toggle="modal" data-bs-target="#latexModal">
                        <i class="fas fa-square-root-alt"></i>
                    </button> 
                
                    {% if doc.assignment.status == 1 %}
                        <div class="countdown-timer" id="timer-{{ doc.assignment.id }}" data-ends-at="{{ doc.assignment.ends_at|date:'c' }}" ><small class="text-muted">Time left: Calculating...</small></div>
                    {% endif %}          
                    <div class='exam'>
                        <div class="py-3">
                            <h1>{{doc.name}}</h1>
                            <small><b>Standard: {{doc.exam.standard}}</b></small> 
                            <br>
                            <small><b>Year: {{doc.exam.year}}</b></small>
                        </div>
                        
                        {% include "main/partials/forms.html" %}

                        {% if doc.assignment %}
                            
                            <button class="btn btn-outline-success submit-btn btn" type="submit">Submit Exam</button>
                        {% endif %}
                    </div>
                </div>
            </div>
            {% if doc.file %}
                <div class="col scrolling-column">
                    <div class="container position-relative">
                        <button class="btn btn-sm btn-icon" id="prev-page">
                            <i class="fas fa-arrow-circle-left"></i>
                        </button>
                        <button class="btn btn-sm btn-icon" id="next-page">
                            <i class="fas fa-arrow-circle-right"></i>
                        </button>
                        <button class="btn btn-sm btn-icon" id="crop-button-text">
                            <i class="fas fa-font"></i>
                        </button>
                        <button class="btn btn-sm btn-icon" id="crop-button-math">
                            <i class="fas fa-superscript"></i>
                        </button>
                        

                        <div class="py-3">
                            <span class="page-info">
                                Page <span id="page-num">1</span> of <span id="page-count"></span>
                            </span>
                
                            <canvas id="pdf-render"></canvas>
                            <form action="{% url 'save_image' id=doc.id %}" 
                                id="imageForm" 
                                method="POST" 
                                enctype="multipart/form-data"
                                style="display: none;">
                                {% csrf_token %}
                                {{ ocrform.image|as_crispy_field }}
                                

                            </form>
                        </div>
                    </div>
                </div>
            {% endif %}
        </div> 
    </div>
    

    <div class="modal fade" id="ResultsModal" tabindex="-1" aria-labelledby="ResultsModalLabel" aria-hidden="true" data-bs-backdrop="static" data-bs-keyboard="false">
        <div class="modal-dialog modal-xl"> <!-- Increase modal size to modal-xl for better visibility -->
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="ResultsModalLabel">OCR Results</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                
                <div class="modal-body">
                    <div class="row">
                        <!-- Column for the cropped image -->
                        <div class="col-md-6">
                            <img id="croppedImage" src="" alt="Cropped Image" class="img-fluid"> <!-- Image will be loaded dynamically -->
                        </div>
                        
                        <!-- Column for the OCR text -->
                        <div class="col-md-6">
                            <textarea class="form-control" id="ocrText" rows="10" placeholder="OCR Results will appear here..."></textarea> <!-- Text area to edit OCR results if needed -->
                        </div>
                    </div>
                </div>
    
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-success" id="insertOCRBtn">Insert Results</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="Test1Modal" tabindex="-1" aria-labelledby="Test1ModalLabel" aria-hidden="true" data-bs-backdrop="static" data-bs-keyboard="false">
        <div class="modal-dialog modal-xl"> <!-- Increase modal size to modal-xl for better visibility -->
            <div class="modal-content">
                <div class="modal-body">
                    <h3>Welcome to Test 1</h3>
                    <p>This test is designed to assess your knowledge in a more relaxed and flexible environment. Please read the following guidelines:</p>
                    <ul>
                        <li><strong>Navigation:</strong> You are free to navigate away from the exam page if necessary, but remember to come back to complete the test.</li>
                        <li><strong>Open Book:</strong> Feel free to use your notes or textbooks. However, we encourage you to try answering from memory first.</li>
                        <li><strong>No Time Limit:</strong> Take as much time as you need to complete this test. However, consistent focus can yield better results.</li>
                        <li><strong>Save Before submitting.</strong> Please remember to save before exiting/submitting.</li>
                        <!-- Add more guidelines as needed -->
                    </ul>
                    <p><strong>Good luck!</strong> We believe in your ability to do well. Stay calm and do your best.</p>
                </div>
                
                <div class="modal-footer">
                    <div class="btn-group">
                        <button type="button" class="btn btn-outline-success" id="StartTest1Btn">Start Test</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="Test2Modal" tabindex="-1" aria-labelledby="Test2ModalLabel" aria-hidden="true" data-bs-backdrop="static" data-bs-keyboard="false">
        <div class="modal-dialog modal-xl"> 
            <div class="modal-content">
                <div class="modal-body">
                    <h3>Exam Rules and Consequences</h3>
                    <p>Please read the following rules carefully before starting the exam:</p>
                    <ul>
                        <li><strong>Stay on the Exam Page</strong>: Do not navigate away from the exam page or reload it. Doing so will lock you out of the exam.</li>
                        <li><strong>No External Assistance</strong>: The use of external materials or receiving assistance from others is strictly prohibited.</li>
                        <li><strong>Timed Examination</strong>: Once started, the exam must be completed within the allotted time frame.</li>
                        <li><strong>Submission</strong>: Ensure you submit all answers before the exam timer ends.</li>
                        <li><strong>Full-Screen Mode</strong>: When you press 'Start Test', the exam will enter full-screen mode. Exiting full-screen mode will lock you out of the exam, requiring supervisor intervention to re-enter.</li>
                        <!-- Add more rules as needed -->
                    </ul>
                    <p>Please remember to save before submitting.</p>
                    <p><strong>Consequences:</strong></p>
                    <p>Violating any of these rules will result in immediate disqualification from the exam.</p>
                </div>
    
                <div class="modal-footer">
                    <div class="btn-group">
                        <a href="/app/" class="btn btn-sm btn-outline-danger">Not ready?</a>
                        <button type="button" class="btn btn-sm btn-outline-success" id="StartTest2Btn">Start Test</button>

                    </div>
                </div>
            </div>
        </div>
    </div>
    
    
    

    <div class="modal fade" id="latexModal" tabindex="-1" aria-labelledby="latexModalLabel" aria-hidden="true" data-bs-backdrop="static" data-bs-keyboard="false">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="latexModalLabel">Insert LaTex</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                
                <div class="modal-body">
                    <div class="row">
                        <!--div class="col-md-6">
                            <img id="croppedLatexImage" src="" alt="Cropped Latex Image" class="img-fluid"> <!-- Image will be loaded dynamically -->
                        <!--/div-->
                        <div class="col">
                            <div class="mathquill-container py-2">

                                {% include "main/partials/math-btns.html" %}
                                <p><span class="mathquill-input"></span></p>
                                <button type="button" class="btn btn-outline-success add-mathquill-btn">+</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-success" id="insertLatexBtn">Insert</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="lockScreenModal" tabindex="-1" aria-hidden="true" data-bs-backdrop="static" data-bs-keyboard="false">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Exam Locked</h5>
                </div>
                <div class="modal-body">
                    <p>Your exam has been locked due to a rule violation. Please contact a supervisor to continue.</p>
                    <div class="btn-group">
                        <a href="/app/"class="btn btn-sm btn-outline-dark">Home</a>
                        <button class="btn btn-outline-success submit-btn btn-sm" type="button">Submit Exam</button>
                    </div>
                </div>
                <!-- No footer or close button as this modal is unclosable -->
            </div>
        </div>
    </div>

    <div class="modal fade" id="submittedModal" tabindex="-1" aria-hidden="true" data-bs-backdrop="static" data-bs-keyboard="false">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Exam has been Submitted.</h5>
                </div>
                <div class="modal-body">
                    <p>Your exam has been submitted. You are no longer able to edit your document.</p>
                    <div class="btn-group">
                        <a href="/app/"class="btn btn-sm btn-outline-dark">Home</a>
                        <a href="/app/{{doc.id}}/preview" class="btn btn-sm btn-outline-success">View Document</a>
                    </div>
                </div>
                <!-- No footer or close button as this modal is unclosable -->
            </div>
        </div>
    </div>
    
    
    <div class="modal fade modal-lg" id="OCRModal" tabindex="-1" aria-labelledby="OCRModalLabel" aria-hidden="true" data-bs-backdrop="static" data-bs-keyboard="false">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="OCRModalLabel">OCR</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                
                <div class="modal-body" style="max-height: 400px; overflow-y: auto;">
                    <div class="row">
                        {% for file in files %}
                            <div class="col-2">


                                <form action="{% url 'file_to_doc' doc.id file.id %}" method="POST" class="card-form">
                                    {% csrf_token %}
                                    <button type="submit" class="card box-shadow card-hoverable mb-2" style="text-decoration: none; border: none; background: none;">
                                        <div class="card-body">
                                            <h5 class="card-title">{{ file.name|truncatechars:15 }}</h5>
                                            <p class="card-text">{{ file.file|truncatechars:15 }}</p>
                                            <!-- You can add more details of the file here -->
                                            <!-- Add hidden inputs if you have any data to send with the POST request -->
                                            <!-- <input type="hidden" name="someName" value="someValue"> -->
                                        </div>
                                    </button>
                                </form>
                            </div>
                        {% endfor %}
                        
                        <div class="col-2">
                            <a href="/app/{{doc.id}}/upload" class="card mb-2" style="text-decoration: none;">
                                <div class="card-body d-flex justify-content-center align-items-center" style="height: 100%;">
                                    <span style="font-size: 3rem; color: #376d4d;">+</span>
                                </div>
                            </a>
                        </div>
    
                    <div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}

    <script>
        {% if development_mode %}
            const url = "{{doc.file.file.url}}";         
        {% else %}
            const url = "{{signed_url|safe}}";
        {% endif %}
    </script>
    <script src="{% static 'js/index.js' %}"></script>

    <script>

        var assignmentStatus = parseInt("{{ doc.assignment.status }}");
        var docStatus = "{{ doc.status }}";
        var assignmentStrict = "{{ doc.assignment.strict }}";

        socket.addEventListener('open', function(event) {
            // Now it's safe to send a message
            updateStatus("{{doc.status}}");
        });

        console.log(docStatus)

        function calculateTimeLeft(endsAt) {
            const now = new Date();
            const endTime = new Date(endsAt);
            const difference = endTime - now;

            if (difference <= 0) {
                return null;  // Past the end time
            }

            const hours = Math.floor((difference / (1000 * 60 * 60)) % 24);
            const minutes = Math.floor((difference / 1000 / 60) % 60);
            const seconds = Math.floor((difference / 1000) % 60);

            return `${hours}h ${minutes}m ${seconds}s`;
        }

        function updateTimer() {
            const timerElement = document.getElementById('timer-{{ doc.assignment.id }}');
            const endsAt = timerElement.getAttribute('data-ends-at');

            const timeLeft = calculateTimeLeft(endsAt);
            if (timeLeft) {
                timerElement.innerHTML = `<small class="text-muted">Time left: ${timeLeft}</small>`;
            } else {
                timerElement.innerHTML = `<small class="text-muted">Ended at: ${endsAt}</small>`;
            }
        }


        socket.onmessage = function(event) {
            const data = JSON.parse(event.data);
            console.log(data);
            console.log("data" + data.document_id);
            console.log('model {{doc.id}}')

            if (data.message_type === 'update_status' && data.document_id === '{{doc.id}}') {
                docStatus = data.status;
                console.log("1st")

                if (data.status === 'locked') {
                    console.log("carrying out locked")
                    $('#OCRModal').modal('hide');
                    $('#latexModal').modal('hide');
                    $('#ResultsModal').modal('hide');
                    $('#Test1Modal').modal('hide'); 
                    $('#Test2Modal').modal('hide'); 
                    $('#submittedModal').modal('hide');
                    if (document.fullscreenElement) {
                        exitFullscreen();
                    }        
                    $('#lockScreenModal').modal('show');

                }

                else if (data.status === 'pending') {
                    console.log("carrying out pending")
                    $('#OCRModal').modal('hide');
                    $('#latexModal').modal('hide');
                    $('#ResultsModal').modal('hide');
                    $('#lockScreenModal').modal('hide'); 
                    $('#submittedModal').modal('hide');
                    if (document.fullscreenElement) {
                        exitFullscreen();
                    }
                    

                    var modal;
                    if (assignmentStrict === 'False') {
                        modal = document.getElementById('Test1Modal');
                    } else if (assignmentStrict === 'True') {
                        modal = document.getElementById('Test2Modal');
                    }
                    if (modal) {
                        $(modal).modal('show');
                    }
    
                } else if (data.status === 'pending') {
                    $('#OCRModal').modal('hide');
                    $('#latexModal').modal('hide');
                    $('#ResultsModal').modal('hide');
                    $('#Test1Modal').modal('hide'); 
                    $('#Test2Modal').modal('hide'); 
                    $('#lockScreenModal').modal('hide');
                    if (document.fullscreenElement) {
                        exitFullscreen();
                    }     

                    $('#submittedModal').modal('show');
                }


            }
        };
        

        function updateStatus(status) {
            var message = {
                message_type: 'update_status',
                document_id: '{{doc.id}}',
                status: status,
            }
            docStatus = status;
            socket.send(JSON.stringify(message));
        };

        if (assignmentStatus === 1) {
            setInterval(updateTimer, 1000);
        }
    
        document.getElementById('StartTest2Btn').addEventListener('click', function() {
            $('#Test2Modal').modal('hide');
            updateStatus("started");

    
            if (!document.fullscreenElement) {
                document.documentElement.requestFullscreen();
            }
        });

        function submitDoc() {
            console.log('Submit button clicked');

            
            $('#OCRModal').modal('hide');
            $('#latexModal').modal('hide');
            $('#ResultsModal').modal('hide');
            $('#Test1Modal').modal('hide'); 
            $('#Test2Modal').modal('hide'); 
            $('#lockScreenModal').modal('hide');

            if (document.fullscreenElement) {
                exitFullscreen();
            }        
            
            $('#submittedModal').modal('show');
            updateStatus("submitted")
            
        }


        
        // Select all elements with the class 'submit-btn'
        const submitButtons = document.querySelectorAll('.submit-btn');
        
        // Attach the event listener to each button
        submitButtons.forEach(button => {
            button.addEventListener('click', submitDoc);
        });

        function exitFullscreen() {
            if (document.exitFullscreen) {
                document.exitFullscreen();
            } else if (document.webkitExitFullscreen) { /* Safari */
                document.webkitExitFullscreen();
            } else if (document.msExitFullscreen) { /* IE11 */
                document.msExitFullscreen();
            }
        }

        
    
        document.addEventListener('fullscreenchange', (event) => {
            const elementsToHide = document.querySelectorAll('.hide-in-fullscreen');
    
            if (document.fullscreenElement) {
                elementsToHide.forEach(element => {
                    element.style.display = 'none';
                });
            } else {
                elementsToHide.forEach(element => {
                    element.style.display = '';
                });

                if (docStatus === "started") {
                    $('#OCRModal').modal('hide');
                    $('#latexModal').modal('hide');
                    $('#ResultsModal').modal('hide');
                    $('#lockScreenModal').modal('show');
                    updateStatus("locked");
                    console.log('Exited fullscreen mode');
                }
            }
        });

        document.getElementById('StartTest1Btn').addEventListener('click', function() {
            $('#Test1Modal').modal('hide');
            updateStatus("started");
        });
    
        if (docStatus === "started" && assignmentStrict === "True") {
            window.addEventListener('blur', function() {
                $('#OCRModal').modal('hide');
                $('#latexModal').modal('hide');
                $('#ResultsModal').modal('hide');
                if (document.fullscreenElement) {
                    exitFullscreen();
                }
                $('#lockScreenModal').modal('show');
                updateStatus("locked");
                console.log('Tab/window has lost focus');
            });
    
            document.addEventListener('copy', function(e) {
                console.log('Copy operation detected');
                e.preventDefault();
            });
    
            document.addEventListener('paste', function(e) {
                console.log('Paste operation detected');
                e.preventDefault();
            });
        }

        window.addEventListener('load', function() {
        
            if (docStatus === "locked") {
                
                $('#lockScreenModal').modal('show');
            } else if (docStatus === "pending") {
                var modal;
                if (assignmentStrict === "False") {
                    modal = document.getElementById("Test1Modal");
                } else if (assignmentStrict === "True") {
                    modal = document.getElementById("Test2Modal");
                }
                if (modal) {
                    $(modal).modal('show');
                }
            } else if (docStatus === "submitted"){
                $('#submittedModal').modal('show');


            }
        });

        
    </script>
    
{% endblock %}
