{% extends 'main/base.html' %}
{% load myfilters %}

{% block title %}marked{% endblock %}


{% block content %}

    <!-- Edit BulletPoint Modal -->
    <div class="modal fade" id="editMarkModal" tabindex="-1" aria-labelledby="editMarkModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="editMarkModalLabel">Edit BulletPoint</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <form id="editBulletPointForm" method="post">
                {% csrf_token %}
                    <div class="modal-body">
                        <input type="hidden" name="bulletPointId" id="bulletPointId">
                        <div class="form-group">
                            <label for="confidence">Confidence</label>
                            <input type="range" name="confidence" id="confidence">
                        </div>
                        <div class="form-group">
                            <label for="explanation">Explanation</label>
                            <textarea class="form-control" name="explanation" id="explanation"></textarea>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Save changes</button>
                    </div>
                </form>
            </div>
        </div>
    </div>


    <div class="row">
        <div class="col scrolling-column">
            <div class="container">
                <div class='exam'>
                    <div class="py-3">
                        <h1>{{doc.name}}</h1>
                        <small><b>Standard: {{doc.exam.standard}}</b></small> 
                        <br>
                        <small><b>Year: {{doc.exam.year}}</b></small>
                    </div>
                    {% for question, userquestion_with_criteria in userquestion_groups.items %}
                        <div class="py-4">
                            <ul class="list-group list-group-flush">
                                <h3 class="py-3">QUESTION {{question.0|NUMBER}} : 
                                    <span class="score">
                                        {{question.1|score}}
                                    </span>
                                </h3>
                                <ul>
                                    {% for userquestion, criteria_list in userquestion_with_criteria %}
                                        <b>({{userquestion.question.primary|to_alphabet}})({{userquestion.question.secondary|to_roman}})</b>: 
                                        <br>
                                        <p id="answer-{{ userquestion.id }}" >{{userquestion.answer}}</p>
                                    {% endfor%}
                                </ul>

                            </ul>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>



        {% for score in scores %}
            {{score}}
        {% endfor %}

        <div class="col scrolling-column">
            <div class="container">
                <div class='exam'>
                    <h1 class="py-4">Assesment Schedule:</h1>

                    {% for question, userquestion_with_bullet in userquestion_groups.items %}

                        <h3 class="py-3">QUESTION {{question.0|NUMBER}}:</h3>
                        <div class="py-4">
                            {% for userquestion, bullet_point_groups in userquestion_with_bullet %}
                                <b>({{userquestion.question.primary|to_alphabet}})({{userquestion.question.secondary|to_roman}})</b>: 
                                <p>{{userquestion.question.evidence}}</p>

                                <ul class="bullet-point-list">
                                    {% for bullet_point_type, bullet_points in bullet_point_groups.items %}
                                        <b>{{bullet_point_type}}</b>

                                        {% for bullet_point in bullet_points %}
                                            <ul>
                                                <li data-bs-toggle="tooltip" data-bs-placement="top" class="bullet_point_{{bullet_point.no}}" data-bs-title="{{bullet_point.explanation}}{{bullet_point.confidence}}" data-bullet="{{ bullet_point.id }}" style="background-color: rgb({{bullet_point.r}}, {{bullet_point.g}}, {{bullet_point.b}});">
                                                    <button class="edit-mark-btn" data-bs-toggle="modal" data-bs-target="#editMarkModal"  data-id="{{ bullet_point.id }}" data-confidence="{{ bullet_point.confidence }}" data-explanation="{{ bullet_point.explanation }}">{{bullet_point.criteria.text}}</button>
                                                </li>
                                                
                                            </ul>
                                            
                                        {% endfor %}

                                        

                                    {% endfor %}
                                </ul>
            
                            {% endfor%}

                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>



{% endblock %}

{% block scripts%}

    <script type="text/javascript">
        var quotesData = {{ quotes_data|safe }};
        console.log(quotesData);
    </script>

    <script>
        function highlightQuotes(bulletPointId) {
            quotesData.forEach(function(quote) {
                if (quote.bulletpoint_id == bulletPointId) {
                    var answerElement = document.getElementById('answer-' + quote.quote_question_id);
                    if (answerElement) {
                        var highlightedText = answerElement.innerHTML.replace(quote.quote, `<span id="quote-${quote.quote_id}" class="highlight">${quote.quote}</span>`);
                        answerElement.innerHTML = highlightedText;
                    }
                }
            });
        }

        function removeHighlights(bulletPointId) {
            quotesData.forEach(function(quote) {
                if (quote.bulletpoint_id == bulletPointId) {
                    var answerElement = document.getElementById('answer-' + quote.quote_question_id);
                    if (answerElement) {
                        var quoteElement = document.getElementById('quote-' + quote.quote_id);
                        if (quoteElement) {
                            answerElement.innerHTML = answerElement.innerHTML.replace(quoteElement.outerHTML, quoteElement.innerHTML);
                        }
                    }
                }
            });
        }
        document.querySelectorAll('li[data-bullet]').forEach(function(bulletPointElement) {
            bulletPointElement.addEventListener('mouseenter', function() {
                var bulletPointId = this.getAttribute('data-bullet');
                highlightQuotes(bulletPointId);
            });
        
            bulletPointElement.addEventListener('mouseleave', function() {
                var bulletPointId = this.getAttribute('data-bullet');
                removeHighlights(bulletPointId);
            });
        });
        
    </script>

    <script>

        const tooltipTriggerList = document.querySelectorAll('[data-bs-toggle="tooltip"]')
        const tooltipList = [...tooltipTriggerList].map(tooltipTriggerEl => new bootstrap.Tooltip(tooltipTriggerEl))
        

        window.onload = function() {
            const bulletPoints = document.querySelectorAll("[class^='bullet_point_']");
            bulletPoints.forEach(function(bulletPoint) {


                // Add event listeners to the bullet points
                bulletPoint.addEventListener('mouseover', function() {
                    const sameClassPoints = document.getElementsByClassName(bulletPoint.className);
                    for(let point of sameClassPoints){
                        point.style.transform = 'scale(1.02)';
                        point.style.boxShadow = '0px 0px 8px rgba(0, 0, 0, 0.05)';
                    }
                });

                bulletPoint.addEventListener('mouseout', function() {
                    const sameClassPoints = document.getElementsByClassName(bulletPoint.className);
                    for(let point of sameClassPoints){
                        point.style.transform = 'scale(1.0)';
                        point.style.boxShadow = 'none';
                    }
                });
            });
        }
    </script>
{% endblock %}

