{% extends 'main/base.html' %}


{% block title %}Prepare{% endblock %}


{% block content %}
<div class="container mt-5">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title text-center mb-4">Document Details</h4>
            <div class="mb-3">
                <h6><b>Document being Marked:</b></h6>
                <small>{{doc.name}}</small>
            </div>
            <div class="mb-2">
                <h6><b>Standard:</b></h6>
                <small>{{doc.exam.standard}}</small>
            </div>
            <div class="mb-4">
                <h6><b>Year:</b></h6>
                <small>{{doc.exam.year}}</small>
            </div>

            <div class="text-center">
                <div hx-trigger="every 2s" hx-get="{% url 'check_task' task_id%}?doc_id={{doc.id}}" hx-swap="innerHTML">
                    <!-- This is the loading circle that will be replaced once the request is complete -->
                    <div class="spinner-border custom-spinner" role="status">
                        <span class="sr-only"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
