{% extends 'main/base.html' %}
{% load myfilters %}

{%block content%}

    <div class="container">
        <div class='exam'>
            <ul class="nav nav-pills" id="myTabs" role="tablist">
                <li class="nav-item" role="presentation">
                    <a class="nav-link active" id="tab1-tab" data-bs-toggle="tab" href="#tab1" role="tab" aria-controls="tab1" aria-selected="true">Credits</a>
                </li>
                <li class="nav-item" role="presentation">
                    <a class="nav-link" id="tab2-tab" data-bs-toggle="tab" href="#tab2" role="tab" aria-controls="tab2" aria-selected="false">General</a>
                </li>
            </ul>
            <div class="tab-content" id="myTabsContent">
                <div class="tab-pane show active py-5" id="tab1" role="tabpanel" aria-labelledby="tab1-tab">
                    <div class="py-4">
                        <h3 class="card-title">Credits: <span class="credits">{{credits}}</span></h3>
                        <a class="" href="/app/support/">What are credits?</a>
                        <br>
                        <div class="row">
                            {% for product in products%}
                                <div class="col-md-4 text-center col-lg-3">
                                    <div class="card mb-3" style="width: 100%;">
                                        <div class="card-body">
                                            <h5 class="card-title">{{product.name}}</h5>
                                            <p class="card-text" style="font-size: 1.5rem;">
                                                <strong>${{ product.price }}</strong>
                                            </p>
                                            {% if product.price|times != 2000 %}
                                                <p class="card-text" style="font-size: 1rem;"><s>{{product.price|times}}</s> <strong>{{product.credit}}</strong> credits</p>
                                            {% else %}
                                                <p class="card-text" style="font-size: 1rem;"><strong>{{product.credit}}</strong> credits</p>
                                            {% endif %}
                                            <div class="d-flex justify-content-center align-items-center">
                                                <form action="{% url 'create-checkout-session' product.price_key %}" method="POST">
                                                    {% csrf_token %}
                                                    <button class="btn btn-outline-secondary" type="submit">
                                                        Buy for ${{product.price}}
                                                    </button>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {%endfor%}
                        </div>
                    </div>

                    <div class="py-4">
                        <h3 class="card-title py-4">Plan:</h3>

                        <ul class="nav nav-pills" id="myTabs" role="tablist">
                            <li class="nav-item" role="presentation">
                                <a class="nav-link active" id="tab11-tab" data-bs-toggle="tab" href="#tab11" role="tab" aria-controls="tab11" aria-selected="true">Monthly</a>
                            </li>
                            <li class="nav-item" role="presentation">
                                <a class="nav-link" id="tab22-tab" data-bs-toggle="tab" href="#tab22" role="tab" aria-controls="tab22" aria-selected="false">Yearly</a>
                            </li>
                        </ul>

                        <div class="tab-content" id="myTabsContent">
                            <div class="tab-pane show active py-5" id="tab11" role="tabpanel" aria-labelledby="tab11-tab">
                                <div class="row">
                                    {% for month in monthly %}
                                        <div class="col-md-6 text-center">
                                            <div class="card mt-3 {% if month == user.plan %}card-active{% endif %}">
                                                <div class="card-body">
                                                    <h5 class="card-title {% if month == user.plan %}text-white{% endif %}">{{ month.product.name }}</h5>
                                                    <p class="card-text {% if month == user.plan %}text-white{% endif %}"><strong class="display-6 credit">${{ month.price}} </strong>/mo</p>
                                                    <p class="card-text {% if month == user.plan %}text-white{% endif %}"><s>{{month.price|times}}</s> <strong>{{month.credit}} </strong>credits /mo</p>
                                                    {% if month == user.plan %}
                                                        <form action="{% url 'create-portal-session' %}" method="POST">
                                                            {% csrf_token %}
                                                            <button class="btn btn-outline-light" id="checkout-and-portal-button" type="submit">Manage your Plan</button>
                                                        </form>
                                                    {% else %}
                                                        <form action="{% url 'create-checkout-session' month.price_key %}" method="POST">
                                                            {% csrf_token %}
                                                            <button class="btn btn-outline-success" type="submit" id="checkout-button">Subscribe</button>
                                                        </form>
                                                    {% endif %}


            
                                                </div>
                                            </div>
                                        </div>
                                    {%endfor%}
                                </div>

                            </div>
                            <div class="tab-pane py-5" id="tab22" role="tabpanel" aria-labelledby="tab22-tab">
                                <div class="row">

                                    {% for year in yearly %}
                                        <div class="col-md-6 text-center">
                                            <div class="card mt-3 {% if year == user.plan %}card-active{% endif %}">
                                                <div class="card-body">
                                                    <h5 class="card-title {% if year == user.plan %}text-white{% endif %}">{{ year.product.name }}</h5>
                                                    <p class="card-text {% if year == user.plan %}text-white{% endif %}"><strong class="display-6 credit">${{ year.price}} </strong>/yr</p>
                                                    <p class="card-text {% if year == user.plan %}text-white{% endif %}">save <strong>${{year.price|saved}}</strong></p>
                                                    <p class="card-text {% if year == user.plan %}text-white{% endif %}"><s>{{year.price|times}}</s> <strong>{{year.credit}}</strong> credits /yr</p>

                                                    {% if year == user.plan %}
                                                        <form action="{% url 'create-portal-session' %}" method="POST">
                                                            {% csrf_token %}
                                                            <button class="btn btn-outline-light" id="checkout-and-portal-button" type="submit">Manage your Plan</button>
                                                        </form>
                                                    {% else %}
                                                        <form action="{% url 'create-checkout-session' year.price_key %}" method="POST">
                                                            {% csrf_token %}
                                                            <button class="btn btn-outline-success" type="submit" id="checkout-button">Subscribe</button>
                                                        </form>
                                                    {% endif %}

                                                </div>
                                            </div>
                                        </div>
                                    {%endfor%}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane py-5" id="tab2" role="tabpanel" aria-labelledby="tab2-tab">
                    <a href="/logout" class="btn btn-outline-danger">Logout</a>
                    
                </div>
            </div>
        </div>
    </div>

{%endblock%}
