{% extends 'main/base.html' %}

{%block content%}

    <div class="container">
        <div class='exam'>
            <ul class="nav nav-pills" id="myTabs" role="tablist">
                <li class="nav-item" role="presentation">
                    <a class="nav-link active" id="tab1-tab" data-bs-toggle="tab" href="#tab1" role="tab" aria-controls="tab1" aria-selected="true">Settings</a>
                </li>
                <li class="nav-item" role="presentation">
                    <a class="nav-link" id="tab2-tab" data-bs-toggle="tab" href="#tab2" role="tab" aria-controls="tab2" aria-selected="false">Credits</a>
                </li>
                <li class="nav-item" role="presentation">
                    <a class="nav-link" id="tab3-tab" data-bs-toggle="tab" href="#tab3" role="tab" aria-controls="tab3" aria-selected="false">Tab 3</a>
                </li>
            </ul>
            <div class="tab-content" id="myTabsContent">
                <div class="tab-pane show active py-5" id="tab1" role="tabpanel" aria-labelledby="tab1-tab">
                    <div class="py-4">
                        <h3 class="card-title">Credits: <span class="credits">{{credits}}</span></h3>
                        <a class="" href="/app/support/">What are credits?</a>
                        <br>
                        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
                            Launch demo modal
                        </button>

                        
                    </div>
                    <div class="py-4">
                        <h3 class="card-title py-4">Plan:</h3>
                        <div class="row">
                            {% for plan in plans %}
                                <div class="col-md-4">
                                    <div class="card mt-3 {% if plan == user.plan %}card-active{% endif %}">
                                        <div class="card-body">
                                            <h5 class="card-title {% if plan == user.plan %}text-white{% endif %}">{{ plan.name }}</h5>
                                            <p class="card-text {% if plan == user.plan %}text-white{% endif %}">Monthly: <b class="credits">${{ plan.monthly_price}}</b></p>
                                            <p class="card-text {% if plan == user.plan %}text-white{% endif %}">{{ plan.description }}</p>
                                                <a href="#" class="btn btn-sm {% if plan == user.plan %}btn-outline-light{% else %}btn-outline-success{% endif %}">

                                                    {% if plan == user.plan %}
                                                    
                                                        Edit Plan
                                                    {% else %}
                                                        Buy it
                                                    {% endif %}
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>

                </div>
                <div class="tab-pane py-5" id="tab2" role="tabpanel" aria-labelledby="tab2-tab">
                    
                </div>
                <div class="tab-pane py-5" id="tab3" role="tabpanel" aria-labelledby="tab3-tab">
                    
                </div>
            </div>
        </div>
    </div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-l">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="row">
                    {% for product in products%}
                        <div class="col-md-4 col-lg-3">
                            <div class="card mb-3" style="width: 100%;">
                                <div class="card-body">
                                    <h5 class="card-title">{{product.credit}} Credits</h5>
                                    <p class="card-text">{{product.description}}</p>
                                    <div class="d-flex justify-content-between align-items-center">
                                        <form action="{% url 'create-checkout-session' product.price_key %}" method="POST">
                                            {% csrf_token %}
                                            <button class="btn btn-sm btn-outline-success" type="submit" id="checkout-button">${{product.price}}</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {%endfor%}
                </div>
            </div>
        </div>
    </div>
</div>

{%endblock%}
