{% extends 'main/base.html' %}
{% block title %}New Standard{% endblock %}
{% block content %}
    <div class="container">
        <div class='exam'>
            <div class="py-3">
                <h1>{{standard.exam_name}}</h1>
                <small><b>Standard: {{standard.standard}}</b></small> 
                <br>
                <small><b>Year: {{standard.year}}</b></small>
            </div>
            

            {% include "main/partials/forms.html" %}

        </div>
    </div>

    
{% endblock %}




