{% extends 'main/base.html' %}
{% load crispy_forms_tags %}

{% block title%}
create new standard
{% endblock %}


{% block content %}
    <div class="container">
        <div class='exam'>
            <div class="py-3">
                <h1>Create a New Standard</h1>
            </div>
            <form method="post">
                {% csrf_token %}
                
                {{ form|crispy }}
                <button type='submit' name = "save" class="btn btn-outline-success">Create New</button>
            </form>
            <a href="/app/create/">marking an existing exam?</a>
        </div>
    </div>
{% endblock %}
