{% extends 'main/base.html' %}
{% load crispy_forms_tags %}

{% block title%}
create new document
{% endblock %}

{% block content %}
    <div class="container">
        <div class='exam'>
            <div class="py-3">
                <h1>Ask for Support</h1>
            </div>
            <form method="post">
                {% csrf_token %}
                
                {{ form|crispy }}
                <button type='submit' name = "save" class="btn btn-outline-success">Submit</button>
            </form>

            <div class="py-4">
                <p>admin@aicerta.com</p>
                <p>+64 21 085 96037</p>
            </div>
        </div>
    </div>
{% endblock %}