body {
    font-family: 'Lato', sans-serif;
    background-color: #f8f9fa;
}

#croppedImage {
    max-width: 100%;  /* Ensure the image doesn't overflow the container */
    max-height: 400px;  /* A maximum height to ensure tall images don't make the modal too tall. Adjust as per your requirements */
    display: block;  /* Ensure margins are applied correctly */
    margin: auto;  /* Center the image */
}


.btn-icon {
    background-color: transparent;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    transition: background-color 0.3s;
    font-family: Arial, sans-serif;  /* Or any font of your choice */
    font-weight: bold;
    font-size: 16px;
    color: #7a7a7a;  /* Grayscale */
}

.btn-icon:hover {
    background-color: rgba(0,0,0,0.1);  /* Slight background on hover */
}

.btn-icon:focus {
    outline: none;
    box-shadow: none;
}



.sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 22px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #f1f1f1;
    background-color: #376d4d;
}
.main {
    margin-left: 220px;
    padding: 0px 10px;
    transition: 0.3s;
}

.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
    z-index: 10;
}

/* Ensure form fields are above overlay */
form input, form textarea, form button {
    position: relative;
    z-index: 20;
}


.cards-container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

/* Container for the progress bar */
.progress {
    background-color: white; /* White background for the progress container */
    border: 1px solid #376d4d; /* #376d4d border for the progress container */
    border-radius: 5px; /* Rounded corners for a smoother look */
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1); /* A subtle shadow for some depth */
    height: 20px; /* You can adjust this based on your design requirements */
}

/* The actual progress bar */
.progress-bar {
    background-color: #376d4d; /* #376d4d color for the filled part */
    transition: width 0.4s ease-in-out; /* Smooth transition for width changes */
}


/* Text or label on the progress bar (if any) */
.progress-bar::after {
    color: black; /* Black color for the text */
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
}

.highlight { background-color: yellow; }

.btn-outline-success {
    border-color: #376d4d;
    color: #376d4d;
}



.btn-outline-success:hover {
    background-color: #376d4d;
    color: #ffffff;
    border-color: #376d4d;
}

.title {
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 10px;
}

.form-control {
    border-color: #cccccc;
}

.form-control:focus {
    border-color: #376d4d;
}

.card {
    border: none;
    background-color: #ffffff;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, box-shadow 0.3s;
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.card-title {
    color: #376d4d;
    font-weight: bold;
    margin-bottom: 10px;
}

.card-text {
    color: #333333;
    font-size: 14px;
    line-height: 1.5;
}

.credits {
    font-family: 'Courier New', Courier, monospace;
    font-size: 0.9rem;
    color: black;
}



.mathquill-input {
    font-size: 20px;             /* Increase the font size */
    width: 100%;                /* Make it span the full width of the modal */
    min-height: 150px;          /* Set a minimum height */
    padding: 15px;              /* Add some padding */
    border: 2px solid #007BFF;  /* Give it a distinct border */
    border-radius: 5px;         /* Rounded corners */
    background-color: #f9f9f9;  /* Light background color */
    box-shadow: inset 0 0 10px rgba(0,0,0,0.1); /* Inner shadow for depth */
}

/* If you want to add some margin to the top and bottom of the input */
.modal-body {
    margin-top: 20px;
    margin-bottom: 20px;
}


.card-active {
    border: none;
    background-color: #376d4d;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, box-shadow 0.3s;
}

.nav-pills .nav-link {
    color: #000000;
    background-color: #ffffff;
}

.nav-pills .nav-link.active {
    color: #ffffff;
    background-color: #376d4d;
}

.nav-pills .nav-link:hover {
    background-color: #376d4d;
    color: #ffffff;
}

.tab-content {
    background-color: #ffffff;
    padding: 20px;
}

.currency-balance {
    position: fixed;
    right: 20px;
    top: 20px;
    font-size: 18px;
    font-weight: bold;
    color: #376d4d;
}

.currency-balance span {
    color: black;
    padding-left: 5px;
}

.score {
    color: #376d4d; /* Make the text red */
    font-weight: bold; /* Make the text bold */
    padding: 2px 4px; /* Add some padding around the text */
    border-radius: 4px; /* Round the corners of the background */
}


.toast .btn-outline-success {
    
    padding: 0.25rem 0.5rem; /* Adjusted padding */
    margin: 0.5rem 0;        /* Margin to give some space at the top and bottom */
    width: 100%;             /* Optional: make the button full width */
    text-align: center;      /* Center the text if making the button full width */
}




label {
    font-weight: bold;
}

[class^='bullet_point_'] {
    transition: all 0.2s ease-in-out;
}

[class^='bullet_point_']:hover {
    transform: scale(1.02);
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.05);
}

.exam {
    margin: 40px; /* Change this value to suit your needs */
}

.container {
    max-width: 960px;
    margin: 30px auto;
    padding: 20px;
    background-color: #ffffff;
    box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.1);
}

.sidenav {
    height: 100%;
    width: 220px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 20px;
    transition: 0.3s;
}

.scrolling-column {
    height: 100vh; /* this will make the div take the full height of the viewport */
    overflow-y: auto; /* this will add a scrollbar when needed */
}

.custom-spinner {
    width: 1rem;
    height: 1rem;
    color: #376d4d;
}

.card-hoverable {
    transition: background-color 0.3s ease;
}

.card-hoverable:hover {
    background-color: #f5f5f5; /* Grayish color on hover */
}

.card-hoverable:active {
    background-color: #d9e8f6; /* Blueish color on click */
}

/* Optional: If you want to have a pointer cursor on hover to indicate clickability */
.card-hoverable:hover {
    cursor: pointer;
}

.alert {
    margin-top: 20px; /* Adjust this value as needed */
}

.bi {
    width: 16px;
    height: 16px;
}

/* Make input fields smaller and more compact */
.compact-form input,
.compact-form select,
.compact-form textarea {
    font-size: 12px; /* Smaller font size */
    padding: 5px; /* Smaller padding */
    margin-bottom: 5px; /* Reduce space between fields */
}

/* Optionally, adjust the size of labels and other elements as needed */
.compact-form label {
    font-size: 12px;
    margin-bottom: 2px;
}

/* Adjust form row or specific field classes if necessary */
.compact-form .form-row,
.compact-form .form-group {
    margin-bottom: 10px; /* Less space between form groups */
}

/* Container for each form or question to apply flexbox */
.question-form .form-row {
    display: flex;
    flex-wrap: wrap; /* Allow wrapping if not enough space */
    gap: 10px; /* Space between fields */
}

/* Style for input fields, select boxes, and textareas to make them square */
.question-form input[type="number"],
.question-form select,
.question-form textarea {
    width: 30px; /* Adjust based on your needs */
    height: 30px; /* Equal height and width make a square */
    padding: 5px;
    text-align: center; /* Center the text/input */
}

/* Adjust label to display above the field or as needed */
.question-form label {
    display: block; /* Ensure labels are on their own line */
    text-align: center; /* Center-align labels */
    margin-bottom: 5px; /* Space between label and field */
}

/* Adjust the flex item to align content */
.question-form .form-group {
    display: flex;
    flex-direction: column; /* Stack label and field vertically */
    align-items: center; /* Center-align the flex items */
}


.bullet_point li {
    position: relative; /* Ensure the <li> can contain a fully-sized button */
    padding: 0; /* Remove padding to allow the button to fully expand */
}

.edit-mark-btn {
    width: 100%; /* Make the button occupy the full width of the <li> */
    height: 100%; /* Make the button occupy the full height of the <li> */
    background-color: transparent; /* Remove any background color */
    border: none; /* Remove border */
    padding: 10px; /* Add padding to the button for spacing, adjust as needed */
    text-align: left; /* Align the button text to the left */
    color: inherit; /* Inherit the text color from the parent */
}

.edit-mark-btn:focus {
    outline: none; /* Remove the focus outline */
}

