<div class="row justify-content-center mt-5">
    <div class="col-md-4" data-aos="fade-up" data-aos-delay="100">
        <div class="card text-center mb-4">
            <div class="card-header bg-white text-black" style="background-color: #376d4d">
                <h4 class="card-title">Core</h4>
            </div>
            <div class="card-body">
                <small class="card-small-text"><b>See first hand how AICERTA could make an impact at your school.</b></small>
                <p class="card-text">Access to multiple Gold/Silver accounts</p>
                <p class="card-text">Access to all features</p>
                <p class="card-text">Ability to share resources</p>
                <p class="card-text"> </p>
                <h5 class="card-price">Pricing</h5>
                <small class="card-small-text">Simple per-account annual billing.</small>
                <small class="card-small-text">14-day free trial.</small>

                <a href="#" class="btn btn-outline-success">Contact us</a>
            </div>
        </div>
    </div>
</div>
