<div class="row justify-content-center mt-5">
    <div class="col-md-4" data-aos="fade-up" data-aos-delay="100">
        <div class="card text-center mb-4">
            <div class="card-header bg-white text-black" style="background-color: #376d4d">
                <h4 class="card-title">Basic</h4>
            </div>
            <div class="card-body">
                <small class="card-small-text">Starts at</small>
                <h5 class="card-price">$10/mo</h5>
                <small class="card-small-text">billed at <s>$120</s> <b>$100/yr</b></small>
                <p class="card-text">7-day free trial</p>
                <p class="card-text">Access to exam marking.</p>
                <p class="card-text">3 daily markings</p>

                <a href="/signup/" class="btn btn-outline-success">Get Started</a>
            </div>
        </div>
    </div>
    <div class="col-md-4" data-aos="fade-up" data-aos-delay="100">
        <div class="card text-center mb-4">
            <div class="card-header bg-white text-black" style="background-color: #376d4d">
                <h4 class="card-title">Silver</h4>
            </div>
            <div class="card-body">
                <small class="card-small-text">Starts at</small>
                <h5 class="card-price">$25/mo</h5>
                <small class="card-small-text">billed at <s>$300</s> <b>$250/yr</b></small>
                <small class="card-small-text"><b>Optimised for students</b></small>
                <p class="card-text">Access to all basic features</p>
                <p class="card-text">7-day free trial</p>
                <p class="card-text">Access to exam feedback</p>
                <p class="card-text">10 daily markings</p>
                <a href="/signup/" class="btn btn-outline-success">Get Started</a>
            </div>
        </div>
    </div>
    <div class="col-md-4" data-aos="fade-up" data-aos-delay="100">
        <div class="card text-center mb-4">
            <div class="card-header bg-white text-black" style="background-color: #376d4d">
                <h4 class="card-title">Gold</h4>
            </div>
            <div class="card-body">
                <small class="card-small-text">Starts at</small>
                <h5 class="card-price">$80/mo</h5>
                <small class="card-small-text">billed at <s>960</s> <b>$800/yr</b></small>
                <small class="card-small-text"><b>Optimised for teachers</b></small>
                <p class="card-text">Access to all features</p>
                <p class="card-text">7-day free trial</p>
                <p class="card-text">Custom exams</p>
                <p class="card-text">60 daily markings</p>
                <a href="/signup/" class="btn btn-outline-success">Get Started</a>
            </div>
        </div>
    </div>
</div>
