
<div class="row justify-content-center mt-5">
    <div class="col-md-4" data-aos="fade-up" data-aos-delay="100">
        <div class="card text-center mb-4">
            <div class="card-header bg-white text-black" style="background-color: #376d4d">
                <h4 class="card-title">Starter</h4>
            </div>
            <div class="card-body">
                <small class="card-small-text">Starts at</small>
                <h5 class="card-price">$40/mo</h5>
                <small class="card-small-text">billed at <s>$480</s> <b>$400/yr</b></small>
                <p class="card-text"><s>4,000</s> <b>4,500</b> <small> credits/mo for <b>12.50%</b> discount</small></p>
                <a href="/signup/" class="btn btn-outline-success">Get Started</a>
            </div>
        </div>
    </div>
    <div class="col-md-4" data-aos="fade-up" data-aos-delay="100">
        <div class="card text-center mb-4">
            <div class="card-header bg-white text-black" style="background-color: #376d4d">
                <h4 class="card-title">Growth</h4>
            </div>
            <div class="card-body">
                <small class="card-small-text">Starts at</small>
                <h5 class="card-price">$90/mo</h5>
                <small class="card-small-text">billed at <s>$1080</s> <b>$900/yr</b></small>
                <small class="card-small-text"><b>Optimised for teachers</b></small>
                <p class="card-text"><s>9,000</s> <b>10,500</b> <small> credits/mo for <b>16.70%</b> discount</small></p>
                <small></small>
                <a href="/signup/" class="btn btn-outline-success">Get Started</a>
            </div>
        </div>
    </div>
    <div class="col-md-4" data-aos="fade-up" data-aos-delay="100">
        <div class="card text-center mb-4">
            <div class="card-header bg-white text-black" style="background-color: #376d4d">
                <h4 class="card-title">Enterprise</h4>
            </div>
            <div class="card-body">
                <small class="card-small-text"><b>See first hand how AICERTA could make an impact at your school.</b></small>
                <p class="card-text">Multiple premium accounts</p>
                <p class="card-text">Cooperative features</p>
                <p class="card-text">Massive discounts</p>

                <small class="card-small-text">14-day free trial.</small>

                <a href="#" class="btn btn-outline-success">Contact us</a>
            </div>
        </div>
    </div>
</div>

